
{{#if user}}

 <div id="profile-wrapper">
    <h3>Welcome, {{user.name}}</h3>
 <p>This is your admin page</p>
 <button id="refresh-page-btn">
    <a href="/user/admin">Reload page</a>
 </button>
{{else}}
<p>Not logged in yet.</p>
 </div>
{{/if}}